body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid; 
    grid-template-rows: 200px 1fr;
    grid-template-columns: 1fr 4fr;
}

body > * {
    border: 2px solid blue;
}

.dashboard {
    grid-row: 1 / -1;
}