* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid; 
    grid-template-rows: 200px 1fr;
    grid-template-columns: 1fr 4fr;
}

body > * {
    border: 2px solid blue;
}

.dashboard {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-row: 1 / -1;
    padding-bottom: 60vh;
}

.dashboard > div, 
.dashboard > ul {
    display: grid; 
    grid-template-columns: 60px 4fr;
    padding-bottom: 40px;
}
